body {
  margin: 0;
}

main {
  display: flex;
  margin: 20px;
  min-width: 360px;
}

main article:last-child {
  margin-right: 0;
}

article {
  width: 100px;
  height: 200px;
  background-color: grey;
  margin-right: 20px;
}